html, body {
	margin: 0;
	padding: 0;
}

html {
	background: url(MinesweeperImages/Windows_Background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

button {
	font-size: 20px;
	height: 50px;
	width: 200px;
	background: lightgray;
	color: black;
	margin: 10px 5px;
	border: 2px solid black;
}

label {
	font-size: 20px;
	height: 50px;
	width: 84px;
	background: lightgray;
	color: black;
}

span {
	font-size: 20px;
}

input {
	width: 94px;
	height: 22px;
	padding: 0;
	float: right;
	text-align: center;
}

.userInput {
	margin: 5px;
	width:200;
}

.userInputList {
	margin: 5px;
	width: 196px;
	background: lightgray;
	border: 2px solid black;
}

.active {
	position: absolute;
	top: 55vh;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: lightgray;
	max-width: 80vw;
	border: 2px solid black;
}

.header { /* refers to class, not id*/
	text-align: center;
	background: lightgray;
	color: black;
	font-size: 3.5vh;
	padding: 10px 0px;
	border: 2px solid black;
	height: 10vh;
}

.menu {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.game {
	margin: 0;
	text-align: center;
}

.boardCont {
	margin: 10px;
	max-height: 50vh;
	overflow: auto;
	background: lightgray;
	border: 2px solid black;
}

.logo {
	margin: 0;
}

.inGameHeader {
	border: 2px solid black;
	margin: 10px;
}
